<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
	<head>
		<title>User: [[${user.name}]]</title>
	</head>
	<body>
		<th:block layout:fragment="content">
			<form action="#" th:action="@{/users/save}" th:object="${user}" method="POST">
				<input type="hidden" name="id" value="" th:value="*{id}" />
				<table>
					<tbody>
						<tr>
							<td class="label">Id</td>
							<td th:text="*{id}" />
						</tr>
						<tr>
							<td class="label">Username</td>
							<td><input type="text" th:field="*{username}" /></td>
						</tr>
						<tr>
							<td class="label">First Name</td>
							<td><input type="text" th:field="*{firstName}" /></td>
						</tr>
						<tr>
							<td class="label">Last Name</td>
							<td><input type="text" th:field="*{lastName}" /></td>
						</tr>
						<tr>
							<td class="label">Role</td>
							<td>
								<label th:each="role : ${roles}"><input type="checkbox" name="roles" value="" th:value="${role}" th:checked="${user.hasRole(role)}" /> [[${role}]]</label>
							</td>
						</tr>
					</tbody>
				</table>
				<input type="submit" value="Save" />
			</form>
		</th:block>
    </body>
</html>
