<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
	<head>
		<title>Users</title>
	</head>
	<body>
		<th:block layout:fragment="content">
			<h1>Users</h1>
			<ul>
				<li th:each="user : ${#lists.sort(users)}">
					<a href="#" th:href="@{|/users/${user.id}|}" th:text="${user}">User Name</a>
				</li>
			</ul>
			<a href="#" th:href="@{/users/create}">Add New User</a>
		</th:block>
	</body>
</html>
